:root {
  --color-background: #ffffff;
  --color-line-border: #f8f8f8;

  --color-unactive: #c7c7c7;
  --color-primary: #197bbd;
  --color-text-primary: #404040;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #e6e6e6 0%, rgba(240, 240, 240, 0) 100%);
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dashboard {
  height: 805px;
  width: 1400px;
  background: var(--color-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;

  display: flex;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 284px;
  border-right: 2px solid var(--color-line-border);
}

.menu .logo {
  margin: 48px 0 68px 0;
  flex-grow: 0;
}

.menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 2;
  text-decoration: none;
}

.menu ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 39px;
  width: 164px;
  padding-left: 25%;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  list-style: none;
  color: var(--color-unactive);
  border-radius: 4px;
}

.menu ul li:hover {
  background: #f0f7ff;
  color: var(--color-primary);
}

.menu ul li img {
  height: 27px;
  width: 27px;
}

.menu .logo-buy {
  height: 108px;
  flex-grow: 3;
}

.menu button {
  position: absolute;
  bottom: 35px;
  height: 41px;
  width: 163px;
  text-align: center;
  border: none;
  font-style: none;
  border-radius: 13px;
  outline: none;
  color: #404040;
  background: #ffc145;
}

.container-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 32px;
}

.header {
  width: 100%;
  height: 128px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .content-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header .content-text h1 {
  color: var(--color-text-primary);
  font-size: 38px;
  font-weight: 600;
  line-height: 53px;
}

.header .content-text span {
  color: #aeaeae;
  font-size: 14px;
  line-height: 20px;
}

.header .container-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.header .container-infos .icon {
  height: 24px;
  margin: 0 12px;
}

.header .container-infos .icon-avatar {
  height: 34px;
  margin: 0 10px 0 12px;
}

.header .container-infos .box-user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
}

.header .container-infos .box-user strong {
  color: var(--color-text-primary);
  font-weight: 600;
  line-height: 16px;
}

.header .container-infos .box-user span {
  color: #aeaeae;
}

.container-cardboard {
  display: flex;
  flex-direction: column;
  width: 568px;
  height: 338px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding: 24px;
}

.container-cardboard .title{
  width: 100%;
  height: 48px;
  font-weight: 600;
  line-height: 25px;
  font-size: 20px;
  color: var(--color-text-primary);
}

.container-cardboard .content{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.container-cardboard .content .container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 75%;

  /* border: 1px solid black; */
}

.container-cardboard .content .container-card .card{
  height: 206px;
  width: 320px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
  background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
  border-radius: 26px;
}

.container-cardboard .content .container-card .card img{
  height: 32px;
}

.container-cardboard .content .container-card .card .number{
  font-family: 'Quicksand', sans-serif;
  font-size: 21px;
  color: #fff;
  line-height: 27px;
}

.container-cardboard .content .container-card .card .container-info-card{
 display: flex;
 justify-content: flex-start;
}

.container-cardboard .content .container-card .card .container-info-card .info{
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 color: #fff;
}

.container-cardboard .content .container-card .card .container-info-card .info:nth-child(2){
  margin-left: 45px;
}

.container-cardboard .content .container-card .card .container-info-card .info span{
  font-size: 8px;
  line-height: 9px;
  margin-bottom: 6px;
}

.container-cardboard .content .container-card .card .container-info-card .info h2{
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.container-cardboard .content .container-card .progress{
  height: 8px;
  width: 320px;
  background: #F1F1F1;
  border-radius: 14px;

  margin-top: 16px;
  margin-bottom: 8px;

}

.container-cardboard .content .container-card .progress span{
  display: block;
  height: 100%;
  width: 30%;
  border-radius: 14px;

  background: var(--color-primary);
}

.container-cardboard .content .container-card p{
  display: flex;
  justify-content: space-between;

  width: 320px;
  font-size: 12px;
  line-height: 16px;
  color: #AEAEAE;
}

.container-cardboard .content .container-card p strong{
  font-weight: normal;
  color: var(--color-text-primary);
}


